{% extends 'base.html' %}
{% block content %}
{% load rest_framework %}
<h1 class="col-8 mx-auto alert alert-primary text-center">Post Lists</h1>
<div class="container">
    <div class="row">
        <div class="col-8 mx-auto">
           <form action="{% url 'posts_api:create' %}" method="POST">
                {% csrf_token %}
                {% render_form serializer %}
                <button type="submit" class="btn btn-dark">Submit</button>

            </form>
        </div>
    </div>
</div>


{% endblock %}