{% extends 'base.html' %}
{% block content %}
<h1 class="col-8 mx-auto alert alert-primary text-center">Post Lists</h1>
<div class="container">
    <div class="row">
        <div class="col-8 mx-auto">
            <p class="text-center">
                {% for post in posts %}
               <a href="{% url 'posts_api:detail' slug=post.slug %}" class="alert alert-success py-2 h3">{{ post.title }}</a>
                {% endfor %}</p>
            </ul>
        </div>
    </div>
</div>
{% endblock %}